<!DOCTYPE html>
<html>
    <head>
        <title>EKA Hospitals</title>
        <link rel='stylesheet' href='../public/home.css' />
        <style>
            body{
                color:white;
                text-align: center;
            }
            a:link, a:visited {
              background-color: #f44336;
              color: white;
              padding: 14px 25px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
            }
            
            a:hover, a:active {
              background-color: red;
            }
            </style>
    </head>
    <body>
        <h1>Message</h1>
        <%=message%><br><br>
        <!-- <a href = "http://localhost:4000/patients/login">Home Page</a> -->
    </body>
</html>