<!DOCTYPE html>
<html>
    <head>
        <title>Book</title>
        <link rel='stylesheet' href='../public/book_app.css' />
    </head>
    <body>
        <p>Fill out this form</p>
        <form action = "http://localhost:4000/patients/book=<%=docid%>" method = "POST" class="fo">
            <input type = "text" name = "name" required placeholder="Name"><br>
            <input type = "text" name = "treatment" required placeholder="Treatement"><br>
            <input type = "number" name = "phone" required placeholder="Phone No."><br>
            <input type = "email" name = "email" required placeholder="Email"><br>
            <input type = "time" name = "time" required placeholder="Time"><br>
            <input type = "date" name = "date" required placeholder="Date"><br>
            <input type = "submit">
        </form>
    </body>
</html>
